<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guest.mapper.ReserverMapper">

    <insert id="addReserver"  parameterType="Reserver">
        insert into reserver(reserver_name, reserver_tel, eater_num, desk_num)
        VALUES (#{reserver_name},#{reserver_tel},#{eater_num},#{desk_num});
    </insert>

    <select id="searchReserverByName" resultType="com.guest.pojo.po.Reserver">
        SELECT * FROM reserver WHERE reserver_name like concat('%',#{reserver_name},'%')
    </select>

    <delete id="deleteReserverByTel">
        DELETE reserver,reserver_menu from reserver
            LEFT JOIN reserver_menu ON reserver.reserver_tel=reserver_menu.reserver_tel
        WHERE reserver.reserver_tel=#{reserver_tel}
    </delete>

    <delete id="deleteReserverByTel2">
        DELETE from reserver WHERE reserver_tel=#{reserver_tel}
    </delete>
</mapper>
